* {
  box-sizing: border-box;
}

.header {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 1%;
}

.ressources {
  width: 20%;
  height: 90%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}

.interface {
  width: 58%;
  height: 90%;
  float: left;
  padding: 15px;
  border: 1px solid black;
  margin-left: 1%;
  margin-right: 1%;
}

.logs {
  width: 20%;
  height: 90%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}

.bottomBar {
  height: 8%;
  width: 99%;
  position: fixed;
  bottom: 1%;
  left: 0.5%;
  border: 1px solid black;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 15%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 2px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.valueInput{
  width: 30px;
  text-align: center;
}

/* -------------------- HEADER -------------------- */
.header{
  position: relative;

}

#gameTitle{
  font-size: 36px;
}

#dateJour{
  float: right;
  padding-top: 1%;
  font-size: 18px;
}

#btTestMode{
  display: none;
}


/* -------------------- RESSOURCES -------------------- */
#liCultist{
  display: none;
}

#sympathizerDiv{
  display: none;
}

#adeptDiv{
  display: none;
}

#cultistDiv{
  display: none;
}

#control{
  display: none;
  vertical-align: middle;
}




/* -------------------- ACTIONS -------------------- */
/*.actionButton{
  background-color: lightgrey;
  width: 10%;
  margin-bottom: 3px;
}*/

#btRecruitSymp{
  display: none;
}

#btPray{
  display: none;
}

#btPreach{
  display: none;
}

.btn{
  width: 20%;
}

.btnSmall{
  width: 8%;
}

#btSave, #btDelete{
  float: right;
  display: inline-block;
}

#currentlyRecruiting{
  font-style: italic;
}

#btConvertAdp{
  display: none;
}

#cultistUpgrader{
  display: none;
}

/* -------------------- HUMAN RESSOURCES -------------------- */

#workerRepartition{
  display : none;
}


#countInactive{
  margin-left: 28px;
}

/* -------------------- INVESTMENTS -------------------- */
.labels {
  width: 15%;
  float: left;
  padding: 5px;
  margin-top: 2%;
}

.valueChanger {
  width: 30%;
  float: left;
  padding: 5px;
  margin-top: 1.5%;
  margin-left: 1%;
  margin-right: 1%;

}

#hideUpgS {
  float: right;
}

/* -------------------- UPGRADES -------------------- */
#btsocialNetworking{
  display: none;
}

#btSelfBetterment{
  display: none;
}

#btIncreasedWorkHour{
  display: none;
}

/* -------------------- TABS -------------------- */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#personnalTrainingTab{
  display: none;
}

#humanRessourcesTab{
  display: none;
}

#investmentsTab{
  display: none;
}

#faithProofsTab{
  display: none;
}


/* -------------------- LOGS -------------------- */
.meTalking{
  font-size: 12;
  font-style: italic;
}

.otherTalking{
  font-family: Lucida Handwriting; 
  font-size: 16;
  font-style: italic;
}